.track-bar{
    background: var(--gray1);
    width: 90%;
    margin: 16px auto;
    text-align: center;
    border-radius: 8px;

}
.track-bar h1{
    font-size: 20px;
    font-weight: 500;
    padding: 16px 0;
    color: var(--gray3);
}
.track-bar p{
    color: var(--gray2);
}
.track-input{
    width: 50%;
    margin: 16px auto;
}
@media only screen and (max-width: 1024px) {
    .track-input {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .track-input{
        width: 90%;
    }
}
