.about-section{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 26px auto;
    justify-content: space-around;
}
.about-section img{
    width: 300px;
    height: auto;
    margin: 1em 0;
}
.about-section-content{
    width: 50%;
}
.about-section-content h2{
    margin: 16px 0;
    color: var(--primary1);
    border-bottom: 1px solid var(--primary1);
    padding: 16px 0;
}
.about-section-content h1{
    font-weight: 500;
    color: var(--gray3);
}
.about-section-content p{
    margin: 16px auto;
    letter-spacing: 1px;
    color: var(--gray2);
}
.about-section-content > *:not(:last-child) {
    margin-bottom: 20px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .about-section{
        flex-direction: column;
    }
    .about-section-content{
        width: 70%;
    }
}

/* For mobile devices */
@media (max-width: 767px) {
    .about-section{
        flex-direction: column;
    }
    .about-section-content{
        width: 90%;
    }
}