/* src/components/PaymentMethods.css */
.payment-method-container {
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .payment-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-card-img {
    max-height: 250px;
    object-fit: cover;
  }
  
  .payment-card .ant-card-actions {
    background-color: #fafafa;
  }

  
  .payment-card .ant-btn {
    width: 100%;
    border-radius: 0;
    border: none;
    background: transparent;
  }
  