@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root{
  --primary1 : #711DB0;
  --primary2 : #C21292;
  --red : #EF4040;
  --limon : #FFA732;
  --gray1: #f3f2f2;
  --gray3 : #1f1f1f;
  --gray2 : #5f5f5f;
}

body{
  scroll-behavior: smooth;
}