@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root{
  --primary1 : #711DB0;
  --primary2 : #C21292;
  --red : #EF4040;
  --limon : #FFA732;
  --gray1: #f3f2f2;
  --gray3 : #1f1f1f;
  --gray2 : #5f5f5f;
}

body{
  scroll-behavior: smooth;
}

/*--------- login ------------*/
.login-section{
  display: flex;
  height: 100vh;
}
.login-section-cover{
  width: 50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray1);
}
.login-section-cover img{
  width: 400px;
}

.login-section-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.login-section-main-header{
  width: 80%;
  margin: 0 auto;
}
.login-section-main-header h3{
  color: var(--primary1);
  font-weight: 600;
  margin: 8px 0;
  font-size: 24px;
}
.login-section-main-header p {
  color: var(--gray2);
  font-size: 12px;
  margin: 8px 0;
}
.login-section-main form{
  width: 80%;
  margin: 0 auto;
}
.login-section-main form > *{
  margin: 8px 0;
}
.remember-me{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember-me >*{
  font-size: 12px;
}
.footer-link-form{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/*-------------Register section ------------------*/
.register-section{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-section-logo{
  position: relative;
  top: 12px;
  left: 12px;
}
.register-section-logo img{
  width: 90px;
}
.register-section-main{
  width: 80%;
  margin:auto;
}
.register-main-title{
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--gray3);
}
.register-main-title-icon{
  font-size: 30px;
  background: var(--gray1);
  padding: 6px 12px;
  border-radius: 4px;
}
.register-main-title p {
  font-size: 24px;
  font-weight: 600;
  margin: 0 12px;
  color: var(--primary1);
}