.colis-form-inputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.colis-form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    width: 30%;
}
/* ColisForm.css */

/* Dark mode styles for the Select component */
.colis-select-ville.dark-mode .ant-select-selector {
    background-color: transparent;
    color: #fff;
    border-color: gray;
}

.colis-select-ville.dark-mode .ant-select-selection-placeholder {
    color: gray;
}
.expanded-actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.colis-select-ville.dark-mode .ant-select-selection-item {
    color: #fff;
}

.colis-select-ville.dark-mode .ant-select-dropdown {
    background-color: #333;
    color: #fff;
}

.colis-select-ville.dark-mode .ant-select-item-option {
    color: #ccc;
}

.colis-select-ville.dark-mode .ant-select-item-option-selected {
    background-color: #555;
    color: #fff;
}

.colis-select-ville.dark-mode .ant-select-item-option-active {
    background-color: #444;
    color: #fff;
}

.colis-select-ville.dark-mode .ant-select-arrow {
    color: gray;
}

.colis-select-ville.dark-mode .ant-select-item-option-content {
    color: #ccc;
}

.livreur_list_modal{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.livreur_list_modal h3{
    color: var(--gray);
    font-size: 16px;
}

.livreur_list_modal_card{
    display: flex;
    align-items: center;
}

.colis-form-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.colis-form-header > *{
    width: 100%;
}
.colis-form-header button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    background: var(--limon);
    border: none;
    border-radius: 4px;
}
.colis-form-header p{
    color: var(--gray);
    font-size: 10px;
}

.option_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.control-option{
    display: flex;
    gap: 2rem;
}
.scane-option .icon{
    font-size: 1.6rem;
}


.bar-action-data{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    margin: 16px 0;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: max-content;
}
.selected-ville-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
  }
  
  .days-checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .days-checkbox-list .ant-checkbox-wrapper {
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .days-checkbox-list .ant-checkbox-wrapper.checked {
    background-color: #e6f7ff;
  }

  .colis-form-line{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: flex-start;
  }

  .colis-form-footer{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
  
@media only screen and (max-width: 600px){
    .colis-form-header{
       flex-direction: column;
    }
    .control-option{
        flex-direction: column;
    }
    .colis-form-input{
        width: 100%;
    }
    .colis-form-footer{
        flex-direction: column;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .colis-form-header{
        flex-direction: column;
     }
}

/* Styling for checkboxes container */
.days-checkbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  background-color: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

